<html>
    <head>
        <title>Welcome to {{ http_host }} !</title>
    </head>
    <body>
        <h1>Success! The {{ http_host }} virtual hfmndgksbgsbgsbgbsost is working!</h1>
    </body>
</html>